body{
    font-family: sans-serif;
    margin: 0;
    background-image: url(assets/img/imagen_background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    height: 75px;
    background-color:cornflowerblue;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    display: flex;
    align-items:center;
}
.logo img{
    height: 70px;
    margin-right: 10px;
}
nav{
    display: flex;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: cornsilk;
}
div button{
    display:flex;
    margin: auto;
    margin-top: 10px;
    background-color: black;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.registros{
    display:flex;
    margin: auto;
}
.btn-container {
    display: flex;
}