<router-outlet></router-outlet>
<!--<div>
<button (click)="mostrarregistro()" style="background-color: red;">Hola</button>
<form (ngSubmit)="buscarpornombrecli()">
  <div class="mb-3">
    <label for="recipient-name" class="col-form-label">Nombre de usuario:</label>
    <input type="text" class="form-control inputs" required [(ngModel)] = "nombreclientetemp"
      name="usuario" matInput placeholder="Nombre de usuario">
  </div>
  <button class="btn-primary">Enviar</button>
</form>


<form (ngSubmit)="nuevoregistro()">
  <div class="mb-3">
    <label for="recipient-name" class="col-form-label">ID:</label>
    <input type="text" class="form-control" required [(ngModel)]="registroacrear.id" name="usuario"
      matInput placeholder="Nombre de usuario">
  </div>
  <div class="mb-3">
    <label for="recipient-name" class="col-form-label">Numero Cliente:</label>
    <input type="text" class="form-control" required [(ngModel)]="registroacrear.numcliente" name="usuario"
      matInput placeholder="Nombre de usuario">
  </div>
  <div class="mb-3">
    <label for="recipient-name" class="col-form-label">Nombre Cliente:</label>
    <input type="text" class="form-control" required [(ngModel)]="registroacrear.nombrecliente" name="usuario"
      matInput placeholder="Nombre de usuario">
  </div>
  <div class="mb-3">
    <label for="recipient-name" class="col-form-label">MacCpe:</label>
    <input type="text" class="form-control" required [(ngModel)]="registroacrear.maccpe" name="usuario"
      matInput placeholder="Nombre de usuario">
  </div>
  <div class="mb-3">
    <label for="recipient-name" class="col-form-label">Dirección IP:</label>
    <input type="text" class="form-control" required [(ngModel)]="registroacrear.direccionip" name="usuario"
      matInput placeholder="Nombre de usuario">
  </div>
  <div class="mb-3">
    <label for="recipient-name" class="col-form-label">Activo:</label>
    <input type="text" class="form-control" required [(ngModel)]="registroacrear.activo" name="usuario"
      matInput placeholder="Nombre de usuario">
  </div>
  <button class="btn botones ">Enviar</button>
</form>
</div>-->
<body >
 <header>
  <a  href = "#" class="logo">
      <img src="../assets/img/logobookip.png" alt="Logo BOOKIP" class="logo">
      <h2 class = "logo-nombre">BOOKIP</h2>
  </a>
  <nav>
    <a href="" class="nav-link">Sobre Nosotros</a>
    <a href="" class="nav-link">Contacto</a>
  </nav>
</header>
 
<div class="btn-container">
  <button type="button" class="btn btn-primary" (click)="mostrarregistro()">
    Registros
  </button>
  <button type="button" class="btn btn-primary" (click)="mostrarcliente()">
    Clientes
  </button>
  <button type="button" class="btn btn-primary" (click)="mostrarusuario()">
    Usuarios
  </button>
</div>

<app-tabla [tabla]="currenttabla"></app-tabla>
</body>
